<script lang="ts">
    import L, { LayerGroup, Polyline } from 'leaflet';
    import MapToolbar from "../partials/MapToolbar.svelte";
    import * as markerIcons from '../lib/markers.js';
    import type { APIPaths } from "../lib/interfaces/apiPaths.interface.js";
    import { onMount } from "svelte";
    import { CachedApiPathLoader } from "../lib/CachedApiPathLoader";
    import TimeRangeSlider from "../partials/TimeRangeSlider.svelte";
    import { getBeacons, getTimeLimits } from "../lib/myApi";
    import type { Beacon } from "../lib/interfaces/beacon.interface";
    import { defaultSliderRange, defaultViewLatitude, defaultViewLongitude, variables } from "../lib/constants";

    let map;
    let mapContainer;
    let allLoadedPolyLineLayers: Polyline[] = [];
    let beacons: Beacon[] = [];
    let initialViewBoundsSet = false;
    const initialView = [defaultViewLatitude, defaultViewLongitude];
    const defaultLineOpacity = 0.2;

    let loader: CachedApiPathLoader;

    let lines = true;
    let sliderStartTs = 0;
    let sliderEndTs = 0;
    let sliderRange = defaultSliderRange;
    let currentSliderValue = 0;

    let markerLayerGroup: LayerGroup;
    let toolbar = L.control({ position: 'topright' });
    let toolbarComponent;

    let lockLoadSliderRangePaths = false;
    const loadSliderRangePaths = async (sliderValue: number) => {
        if (map && !lockLoadSliderRangePaths) {
            lockLoadSliderRangePaths = true;
            for (const polyLineLayer of allLoadedPolyLineLayers) {
                map.removeLayer(polyLineLayer);
            }
            allLoadedPolyLineLayers = [];

            const apiPaths = await loader.getPathsForTsRange(sliderValue, sliderValue + sliderRange);

            //createAddSinglePolyLine(mockGetLocations());

            for (const paths: APIPaths of apiPaths) {
                createAddSinglePolyLine(paths.path);
            }

            // unused at every following reload since we are in a single test location anyway (ux is just better so)
            if (!initialViewBoundsSet) {
                initialViewBoundsSet = true;
                fitBoundsBasedOnMaxValues(apiPaths);
            }
            lockLoadSliderRangePaths = false;
        }
    }

    const fitBoundsBasedOnMaxValues = (apiPaths: APIPaths[]) => {
        if (map) {
            let allRawBounds: number[][] = [];
            for (const paths: APIPaths of apiPaths) {
                for (const path of paths.path) {
                    allRawBounds.push([path.at(0), path.at(1)]);
                }
            }

            if (allRawBounds.length <= 0) {
                map.fitBounds(L.latLngBounds([initialView]));
            } else {
                map.fitBounds(L.latLngBounds(allRawBounds));
            }
        }
    }

    const reload = async () => {
        if (map) {
            map.remove();
        }
        map = createMap(mapContainer);
        toolbar.addTo(map);

        reloadBeaconMarkers();

        initialViewBoundsSet = false;
        await loadSliderRangePaths(currentSliderValue);
    }

    function createMap(container) {
        let m = L.map(container, { preferCanvas: true }).setView(initialView, 5);
        L.tileLayer(
            variables.TILE_SERVER_URL,
            {
                attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
	        &copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
                subdomains: 'abcd',
                maxZoom: 15,
            }
        ).addTo(m);

        return m;
    }

    function markerIcon() {
        let html = `<div class="map-marker !cursor-grab"><div>${markerIcons.baseStation}</div></div>`;
        return L.divIcon({
            html,
            className: 'map-marker'
        });
    }

    function createMarker(loc) {
        const icon = markerIcon();
        return L.marker(loc, { icon });
    }

    function createAddSinglePolyLine(linePoints: number[][]) {
        const line: Polyline = L.polyline(linePoints, { color: '#E4E', opacity: defaultLineOpacity });
        allLoadedPolyLineLayers.push(line);
        line.addTo(map);
    }

    function reloadBeaconMarkers() {
        if (map) {
            if (markerLayerGroup) {
                map.removeLayer(markerLayerGroup);
            }
            markerLayerGroup = L.layerGroup()
            for (let beaconLocation of beacons) {
                let m = createMarker([beaconLocation.longitude, beaconLocation.latitude]);
                markerLayerGroup.addLayer(m);
            }
            markerLayerGroup.addTo(map);
        }
    }

    function mapAction(container) {
        mapContainer = container;
        return {};
    }

    function resizeMap() {
        if (map) {
            map.invalidateSize();
        }
    }

    onMount(async () => {
        // todo: set loadAllAtOnce parameter to false when the api servers sql query for epoch conditions is fixed
        loader = await CachedApiPathLoader.newInstance(true);

        const limits = await getTimeLimits();
        sliderStartTs = limits.earliest;
        sliderEndTs = limits.latest;
        currentSliderValue = sliderStartTs;

        beacons = await getBeacons();

        toolbar.onAdd = (map) => {
            let div = L.DomUtil.create('div');
            toolbarComponent = new MapToolbar({
                target: div,
                props: {}
            });

            toolbarComponent.$on('click-lines', ({ detail }) => {
                lines = detail;
                if (lines) {
                    reloadBeaconMarkers();
                } else {
                    if (markerLayerGroup) {
                        map.removeLayer(markerLayerGroup);
                    }
                }
            });
            toolbarComponent.$on('click-reset', async () => {
                await reload();
            })

            return div;
        }

        toolbar.onRemove = () => {
            if (toolbarComponent) {
                toolbarComponent.$destroy();
                toolbarComponent = null;
            }
        };

        await reload();
    });
</script>
<svelte:window on:resize={resizeMap}/>

<style>
    .map :global(.marker-text) {
        width: 100%;
        text-align: center;
        font-weight: 600;
        background-color: #444;
        color: #EEE;
        border-radius: 0.5rem;
    }

    .map :global(.map-marker) {
        width: 30px;
        transform: translateX(-30%) translateY(-90%);
        color: #000000a1;
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

<div class="flex justify-between h-16 items-center px-4">
    <div>
        <p class="text-2xl">Traffic Insights</p>
        <p class="text-xs">Hackathon Fulda 2023</p>
    </div>
    <TimeRangeSlider onSliderValueChange={event => loadSliderRangePaths(event)} bind:sliderStartTs bind:sliderEndTs
                     bind:sliderRange bind:sliderValue={currentSliderValue}/>
</div>
<div class="flex flex-1 flex-col">
    <div class="map flex-grow h-full w-full" use:mapAction/>
</div>
