<script lang="ts">
    import { createEventDispatcher } from 'svelte';
    import { Icon } from "svelte-awesome";
    import { rotateRight } from "svelte-awesome/icons";

    const dispatch = createEventDispatcher();
    let lines = true;

    function clickLines() {
        lines = !lines;
        dispatch('click-lines', lines);
    }
</script>

<style>
    .selected {
        background-opacity: 25%;
        background-color: #DCC;
    }

    button {
        width: 2rem;
        height: 2rem;
        border: 0;
        background-color: transparent;
        transition-property: background-color, background-opacity;
        transition-duration: 250ms;
        border-radius: 0.375rem;
    }

    .single-click:hover {
        background-opacity: 50%;
        background-color: lightgray;
    }
</style>

<div class="flex justify-between space-x-2" draggable="false">
    <button type="button" class="single-click" on:click={() => dispatch('click-reset')} title="Reset View">
        <Icon data={rotateRight} scale="1.5"/>
    </button>

    <button type="button" on:click={clickLines} class:selected={lines} title="Show Lines">
        <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="{lines ? 2 : 1}" viewBox="0 0 24 24"
             stroke="currentColor">
            <path d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"></path>
        </svg>
    </button>
</div>
