<script lang="ts">
    import Time from "svelte-time";
    import Select from "svelte-select";
    import { defaultSliderRange } from "../lib/constants";

    export let sliderValue: number = 0;
    export let sliderStartTs: number = 0;
    export let sliderEndTs: number = 0;
    export let sliderRange: number = defaultSliderRange;

    export let onSliderValueChange: (sliderValue: number) => void = () => {
    };

    $: sliderRange, onSliderValueChange(sliderValue);

    let timeRangeCollection = [
        { value: 120000, label: '2 minutes' },
        { value: 300000, label: '5 minutes' },
        { value: 900000, label: '15 minutes' },
        { value: 3600000, label: '1 hour' },
        { value: 10800000, label: '3 hours' },
        { value: 21600000, label: '6 hours' },
        { value: 43200000, label: '12 hours' },
        { value: 86400000, label: '24 hours' },
        { value: 172800000, label: '48 hours' },
        { value: 604800000, label: '1 week' },
        { value: 1209600000, label: '2 week' },
        { value: 2419200000, label: '1 month' }
    ];

    let rangeSelectValue = timeRangeCollection[1];

    $: sliderRange = rangeSelectValue.value;

</script>

<div class="flex justify-end space-x-4">
    <Select items={timeRangeCollection} hideEmptyState={true} clearable={false} bind:value={rangeSelectValue}
            --height="38px" class="z-[500] h-12 !w-36 "/>
    <div class="flex flex-col text-sm min-w-fit">
        <Time timestamp={sliderValue} format="YYYY-MM-DD HH:mm:ss" class="flex-nowrap"/>
        <p class="flex-grow text-center" style="line-height: 0.5rem;">-</p>
        <Time timestamp={sliderValue+sliderRange} format="YYYY-MM-DD HH:mm:ss" class="flex-nowrap"/>
    </div>
    <input type="range" min="{sliderStartTs}" max="{sliderEndTs}" step="1" bind:value={sliderValue}>
</div>
