<script lang="ts">
    import Router from 'svelte-spa-router';
    import routes from './routes';
    import "leaflet/dist/leaflet.css";
</script>

<div class="flex flex-col min-h-screen bg-primary-light dark:bg-primary-dark">
    <Router {routes}/>
</div>
